body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    margin: 2rem;
}

.bookcard {
    background-color: white;
    white-space: pre;
    padding: 1rem;
}

.bookcard p:first-child {
    font-size: 3rem;
    font-weight: bold;
}

div p {
    margin: 1rem;
    font-size: 1.5rem;
}